<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      body {
        background: rgb(220, 239, 255);
      }
      h1 {
        text-align: center;
        margin: 2rem 0;
      }
      .info {
        margin: 1rem;
        font-size: 1.2rem;
      }
      .info p {
        margin: 0.5rem 0;
      }
      .info p span {
        font-weight: 900;
      }
      .msg {
        max-width: 1400px;
        width: 90%;
        margin: 1rem auto;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <h1>Message from {{fullName}} for {{subject}}</h1>
    <div class="info">
      <p><span>Name: </span>{{fullName}}</p>
      <p><span>Email: </span>{{email}}</p>
      <p><span>Subject: </span>{{subject}}</p>
    </div>
    <div class="msg">{{message}}</div>
  </body>
</html>